services:
  example-backend-app:
    image: docker.io/edsel7/eds3l:photodrive
    container_name: photodrive
    restart: unless-stopped
#    ports:
#      - "8080:8080"
    environment:
      DATASOURCE_PASSWORD: ${DATASOURCE_PASSWORD}
      DATASOURCE_URL: ${DATASOURCE_URL}
      DATASOURCE_USERNAME: ${DATASOURCE_USERNAME}
      MAIL_HOST: ${MAIL_HOST}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      MAIL_USERNAME: ${MAIL_USERNAME}
      DIR: ${DIR}
      TEMP: ${TEMP}
      TOKEN_SECRETKEY: ${TOKEN_SECRETKEY}
      ORG_MAX_SIZE: ${ORG_MAX_SIZE}
      SWAGGER_IP_ONE: ${SWAGGER_IP_ONE}
      SWAGGER_IP_TWO: ${SWAGGER_IP_TWO}
      SPRING_PROFILES_ACTIVE: prod

    networks:
      - web

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.photodrive.rule=Host(`photodrive.dev`)"
      - "traefik.http.routers.photodrive.entrypoints=websecure"
      - "traefik.http.routers.photodrive.tls=true"
      - "traefik.http.routers.photodrive.tls.certresolver=my-resolver"
      - "traefik.http.services.photodrive.loadbalancer.server.port=8080"

networks:
  web:
    external: true
    name: traefik_proxy_network