spring:
  mail:
    host: ${MAIL_HOST}
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      max-lifetime: 600000

  jpa:
    hibernate:
      ddl-auto: update
      type:
        preferred_uuid_jdbc_type: VARCHAR
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    open-in-view: false

  servlet:
    multipart:
      max-file-size: "2GB"
      max-request-size: "2GB"

jwt:
  secret: ${TOKEN_SECRETKEY}

storage:
  dir: ${DIR}
  temp:
    path: ${TEMP}

ORG_MAX_SIZE: ${ORG_MAX_SIZE}

SWAGGER:
  IP:
    ONE: ${FIRST_SWAGGER_IP}
    TWO: ${SECOND_SWAGGER_IP}


