name: Build, Publish and Deploy Docker Image

on:
  push:
    branches: [ main, master ]
    paths:
      - '**/src/main/**'
      - 'Dockerfile'
      - 'build.gradle'
      - 'docker-compose.prod.yml'

jobs:

  changes:
    runs-on: ubuntu-latest
    outputs:
      relevant: ${{ steps.filter.outputs.relevant }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            relevant:
              - 'core/src/main/**'
              - 'Dockerfile'
              - 'pom.xml'

  build-and-push:
    needs: changes
    if: needs.changes.outputs.relevant == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: ./core/
          file: ./core/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/eds3l:photodrive
          cache-from: type=gha
          cache-to: type=gha,mode=max
